.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 1.Introducción
      .tituloPrincipal__icono

  .row.justify-content-center.my-5
    .col-10
      .card
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/N02LDgN3FwE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body.mt-0
          p 
            strong Covid19 en Colombia. 
            | En la actualidad el mundo se enfrenta a un gran reto en términos de salud pública, debido al brote de la enfermedad por coronavirus (COVID-19) considerada por la Organización Mundial de la Salud - OMS, como una pandemia.   
          
