.container
  .row
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 3. Limpieza y desinfecci칩n en el hogar.
        .tituloPrincipal__icono

  .row.justify-content-center.my-5
    .col-10
      .card
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RUkbdiB8_10', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .card-body.mt-0
          strong Limpieza y desinfecci칩n en el hogar. 
          | Una vez retirado el fallecido de la vivienda, iniciar de manera rigurosa la limpieza y desinfecci칩n de superficies, 치reas, pisos, paredes, elementos, utensilios y todos aquellos elementos que estuvieron en contacto con el fallecido.

