.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 4. Manejo del duelo, resignificación de la vida y la muerte, dignificación humana.
      .tituloPrincipal__icono

  .row.justify-content-center.my-5
    .col-10
      .card
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/23Jbi5RxQp8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body.mt-0
          p 
            strong Manejo del duelo, resignificación de la vida y la muerte, dignificación humana.
            |  El COVID-19 cambia la vida cotidiana al igual que los ritos de homenaje funerario. Inevitablemente se deben adaptar las formas para rendir homenaje a los difuntos.
        
      p.mt-5
        | Las medidas sanitarias tienen el objetivo de respetar las orientaciones del Ministerio de Salud para evitar la propagación del virus. Donde se prohíben la Tanatopraxia y velación de personas fallecidas por COVID-19.

      .card-txt
        | <strong>La disposición final del cadáver será preferiblemente mediante cremación.</strong> Cuando no se cuente con este tipo de instalaciones en el territorio donde ocurrió el deceso, se practicará la inhumación en sepultura o bóveda.
      
      p.mt-5
        | Reconociendo la necesidad de aquellas personas que han perdido un ser querido a causa del COVID-19 y no pueden realizar acompañamiento físico. Se recomienda la realización de rituales simbólicos, expresión de sentimientos utilizando recursos tecnológicos como video llamadas que permiten el  acompañamiento  a su proceso de duelo. 
