.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 6. El estigma social asociado con el COVID-19
      .tituloPrincipal__icono  

  .card
    .card-body      
      .row.justify-content-center.align-items-center        
        .col-12.col-lg-7.col-xl-8.order-12.order-lg-1
          p El estigma social en el contexto de la salud es la asociación negativa entre una persona o un grupo de personas que comparten ciertas características y una enfermedad específica. En un brote epidémico, esto puede significar que las personas sean etiquetadas, estereotipadas, que se las discrimine, que se las trate por separado y/o que experimenten una pérdida de estatus debido a una percibida conexión con una enfermedad.
        .col-10.col-lg-5.col-xl-4.order-1.order-lg-12.mb-5
          .img-container    
            figure
              img(src="../content/images/6.0_Estigma_social/img_introduccion_Estigma.svg", alt="")

  .card
    .card-body 
      .row.d-flex.justify-content-center.align-items-center
        .col-12.mb-5
          p Este tipo de trato puede afectar negativamente a quienes tienen la enfermedad, así como a quienes los cuidan, a sus familias, amigos y comunidades. Las personas que no tienen la enfermedad, pero comparten otras características con ese grupo, pueden también sufrir estigmatización.<br/><br/>
          |El nivel de estigma asociado con el COVID-19 se basa en tres factores principales: 
         
        .card-grid        
          .card.card-grid-item
            figure
              img(src="../content/images/6.0_Estigma_social/icon_Factor_01.svg", alt="").full-width-img
            .card-body
              p Es una enfermedad nueva y en torno a la cual existen todavía muchas incógnitas.         
          .card.card-grid-item
            figure
              img(src="../content/images/6.0_Estigma_social/icon_Factor_02.svg", alt="").full-width-img
            .card-body
              p Frecuentemente tenemos miedo a lo desconocido.       
          .card.card-grid-item
            figure
              img(src="../content/images/6.0_Estigma_social/icon_Factor_03.svg", alt="").full-width-img
            .card-body
              p Es fácil asociar ese miedo a “los otros”.    

  .card
    .card-body 
      .row.d-flex.justify-content-center
        .col-12.mb-5
          .subtitulo-01
            .subtitulo-01__txt
              h3 ¿Cuál es el impacto?
            .subtitulo-01__icon 
              img(src="../content/images/6.0_Estigma_social/icon_titulo_01.svg", alt="")

        .col-12.mb-5
          p El estigma puede debilitar la cohesión de la sociedad y llevar al posible aislamiento social de ciertos grupos, lo cual podría contribuir a una situación en la que sea más, no menos, probable que el virus se extienda. Esto puede llevar a mayores problemas de salud y a dificultades para el control del brote epidémico de una enfermedad.<br/><br/>
          |La estigmatización puede:    

        .card-grid        
          .card.card-grid-item
            figure
              img(src="../content/images/6.0_Estigma_social/icon_Estigma_01.svg", alt="").full-width-img
            .card-body
              p Llevar a que las personas escondan la enfermedad para evitar la discriminación.        
          .card.card-grid-item
            figure
              img(src="../content/images/6.0_Estigma_social/icon_Estigma_02.svg", alt="").full-width-img
            .card-body
              p Impedir que las personas busquen atención médica en forma inmediata.       
          .card.card-grid-item
            figure
              img(src="../content/images/6.0_Estigma_social/icon_Estigma_03.svg", alt="").full-width-img
            .card-body
              p Hacer que las persona no adopten comportamientos saludables.

  .card
    .card-body 
      .row.d-flex.justify-content-center.align-items-center 
        .col-12.mb-5
          .subtitulo-01
            .subtitulo-01__txt
              h3 ¿Cómo hacer para abordar el estigma social?
            .subtitulo-01__icon 
              img(src="../content/images/6.0_Estigma_social/icon_titulo_02.svg", alt="")

        .col-12.col-lg-6.col-xl-8.mb-5
          p La forma en que nos comunicamos sobre el COVID-19 es crucial para apoyar a las personas a emprender acciones eficaces que ayuden a combatir la enfermedad y para evitar alimentar el miedo y la estigmatización.<br/><br/>
          |Se debe generar confianza en servicios y consejos de salud confiables, mostrando empatía con las personas, además se debe comprender la enfermedad y adoptar medidas prácticas y efectivas para que las personas puedan ayudar a mantenerse a sí mismos y a sus seres queridos a salvo.

        .col-10.col-lg-6.col-xl-4.mb-5
          .img-container    
            figure
              img(src="../content/images/6.0_Estigma_social/img_Abordar_Estigma.svg", alt="")

        .col-12
          .jumbotron
            p La forma en que nos comunicamos sobre COVID-19 es fundamental para ayudar a que las personas tomen medidas efectivas de cuidado y evitar el estigma y discriminación, es importante poder tener espacios de diálogo abierto y honesto del tema.

  .card
    .card-body 
      .row.d-flex.justify-content-center.align-items-center
        .col-12.mb-5
          .subtitulo-01
            .subtitulo-01__txt
              h3 Las palabras importan
            .subtitulo-01__icon 
              img(src="../content/images/6.0_Estigma_social/icon_titulo_03.svg", alt="")

        .col-12.col-md-9.mb-5  
            .img-container    
              figure
                img(src="../content/images/6.0_Estigma_social/img_Palabras_Importan.svg", alt="")

        .col-12.mb-5
          p Elige las palabras con cuidado, la forma en que nos comunicamos puede afectar las actitudes de los demás; Ciertas palabras (caso, caso sospechoso, aislamiento, víctima ...) pueden tener un significado negativo para las personas y alimentar actitudes estigmatizantes, crear un miedo generalizado o deshumanizar a las personas con la enfermedad retrasando el acceso a los servicios de salud para obtener un diagnóstico y tratamiento oportuno.

        .jumbotron
          .row.align-items-center
            .col-3.col-lg-2.col-xl-1
              .img-container    
                figure
                  img(src="../content/images/6.0_Estigma_social/icon_Cobertura_Periodistica.svg", alt="")
            .col-9.col-lg-10.col-xl-11
              p La cobertura periodística negativa tiene el potencial de influir sobre cómo se percibe y se trata a las personas que se sospecha tienen el nuevo coronavirus (COVID-19), así como a los pacientes, sus familias y las comunidades afectadas.

  .card
    .card-body 
      .row.d-flex.justify-content-center.align-items-center
        .col-12.mb-5
          .subtitulo-01
            .subtitulo-01__txt
              h3 Acciones para contrarrestar el estigma y la discriminación
            .subtitulo-01__icon 
              img(src="../content/images/6.0_Estigma_social/icon_titulo_04.svg", alt="")
               
        .listed-paragraph.col-11 
          p #[span.paragraph-num 01] Difunda información para disminuir el desconocimiento y disminuir el temor.

        .listed-paragraph.col-11  
          p #[span.paragraph-num 02] Comparta información de las fuentes oficiales disponibles, con un lenguaje simple (evite términos clínicos), que sea precisa y específica del país, o la región, de las poblaciones en riesgo, de las opciones de tratamiento y dónde acceder a la atención médica e información. Las redes sociales son útiles para llegar a un gran número de personas con información de salud a un costo bajo.

        .listed-paragraph.col-11 
          p #[span.paragraph-num 03] Involucre a personas influyentes o líderes sociales: de representación o alcance nacional o regional, que inviten a la reflexión sobre las personas que están estigmatizadas y cómo apoyarlas.

        .listed-paragraph.col-11  
          p #[span.paragraph-num 04] Amplifique las voces: tengo en cuenta a las personas, las historias e imágenes de quienes han experimentado el COVID 19 y se han recuperado o que han apoyado a un ser querido a través de la recuperación para enfatizar que la mayoría de las personas se recuperan.

        .listed-paragraph.col-11  
          p #[span.paragraph-num 05] Incluya las diferentes poblaciones y grupos étnicos: Todos los materiales deben mostrar diversas comunidades afectadas y trabajando juntas para evitar la propagación de COVID-19. Asegúrese de que la tipografía, los símbolos y los formatos sean neutrales y no sugiera ningún grupo en particular.          

        .listed-paragraph.col-11
          p #[span.paragraph-num 06] Periodismo ético: promueva el contenido en torno a prácticas básicas de prevención y autocuidado, síntomas y cuándo buscar atención médica. Centrarse demasiado en el comportamiento individual y la responsabilidad de los pacientes de tener y "difundir COVID-19" pueden aumentar el estigma de las personas que pueden tener la enfermedad. Hacer hincapié en los esfuerzos para encontrar una vacuna y un tratamiento puede aumentar el miedo y dar la impresión de incapacidad de detener la enfermedad.

        .listed-paragraph.col-11
          p #[span.paragraph-num 07] Vincularse: a las diferentes iniciativas para abordar el estigma y los estereotipos para crear un movimiento y un ambiente positivo que muestre cuidado y empatía por todo.