footer#footer.mt-5.pt-5
    .container
        .container.footer__header
            .row
                .footer__info__title.col-2
                    h1 Créditos               
                    .horizontal-divider-footer

        .container
            .row.footer__info          
                .footer__info__column.col-md-5        
                    .footer__info__column__profile
                        h3 Autores
                        p.mb-3
                            | #[strong Alejandro Carmona]<br/>
                            | #[strong Juan Camilo García]<br/>
                            span.text-small.text-uppercase Centro Servicios de Salud - Antioquia

                    .footer__info__column__profile
                        h3 Revisión
                        p.mb-3 
                            strong Dr. Luis Gabriel Bernal
                            br
                            span.text-small Director Dirección Desarrollo Talento Humano en Salud
                            br
                            span.text-small.text-uppercase Ministerio de Salud y Protección Social

                        p.mb-3 
                            strong Francisco Ariza
                            br
                            span.text-small Grupo de Formación  THS
                            br
                            span.text-small.text-uppercase Ministerio de Salud y Protección Social

                        p.mb-3 
                            strong Silvia Mora
                            br
                            span.text-small Grupo de Formación  THS
                            br
                            span.text-small.text-uppercase Ministerio de Salud y Protección Social

                        p.mb-3 
                            strong Janeth Ramirez
                            br
                            span.text-small.text-uppercase Secretaría Departamental de Salud del Valle

                        p.mb-3
                            | #[strong Ruth Mireya Suárez]<br/>   
                            | #[strong Emilia Sarmiento]<br/>                
                            span.text-small.text-uppercase SENA - RED SALUD

                
                .footer__info__column.col-md-5  
                    .footer__info__column__profile
                        h3 Diseño y Desarrollo Recursos Educativos Digitales
                        p.mb-3
                            | #[strong Francisco José lizcano Reyes]<br/>
                            span.text-small Responsable del Equipo <br/>
                            span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA   
                    .footer__info__column__profile             
                        p.mb-3
                            | #[strong Daniel Ricardo Mutis Gómez]<br/>         
                            span.text-small Diseño Web <br/>
                            span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA  

                    .footer__info__column__profile             
                        p.mb-3
                            | #[strong Camilo Andrés Villamizar Lizcano]<br/>
                            | #[strong Víctor Raúl Cárdenas Cáceres]<br/>         
                            | #[strong Oleg Litvin]<br/> 
                            span.text-small Producción audiovisual <br/>
                            span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA      

                .footer__info__column.col-md-2  
                    .d-flex.flex-column
                        img(src="../assets/images/logos/senaLogo.svg", alt="Logo SENA")